{% extends 'base.html.twig' %}

{% block title %}
	{{parent()}}
	- Commentaires - Editer
{% endblock %}

{% block page_title %}
	<h1>Editer un commentaire
	</h1>
{% endblock %}

{% block body %}
	{{ include('comment/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
	{{ include('comment/_delete_form.html.twig') }}

	<a href="{{ path('program_episode_show', { 
			slug: app.request.get("programSlug"), 
			seasonNumber: app.request.get("seasonNumber"), 
			episodeSlug: app.request.get("episodeSlug")
		}) 
		}}" class="btn btn-secondary m-4" role="button">
		Retour
	</a>

{% endblock %}
