{% extends 'base.html.twig' %}

{% block title %}
	{{parent()}}
	- Commentaires - Editer
{% endblock %}

{% block page_title %}
	<h1>Editer un commentaire
	</h1>
{% endblock %}

{% block body %}
	{{ include('comment/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
	{{ include('comment/_delete_form.html.twig') }}

	<a href="{{ path('episode_show', { programSlug: app.request.get("programSlug"), seasonSlug: app.request.get("seasonSlug"), episodeSlug: app.request.get("episodeSlug") }) }}" class="btn btn-secondary m-4" role="button">
		Retour
	</a>

{% endblock %}
