{% extends 'base.html.twig' %}

{% block title %}
	{{parent()}}
	- Catégories
{% endblock %}

{% block page_title %}
	<h1>Toutes les catégories
	</h1>
{% endblock %}

{% block body %}
	<a href="{{ path('category_new') }}" class="btn btn-success mb-5" role="button">Créer</a>

	<ul class="list-group list-group-flush">
		{% for category in categories %}
			<li class="list-group-item">
				<h2 class="h4">
					<a href="{{ path('category_show', {'slug' : category.slug}) }}" class="text-decoration-none">{{ category.name }}</a>
				</h2>
			</li>
		{% else %}
			<p class="m-5">
				Aucune catégorie trouvée.
			</p>
		{% endfor %}
	</ul>
{% endblock %}
