{% extends 'base.html.twig' %}

{% block title %}
	{{parent()}}
	- Saisons - Création
{% endblock %}

{% block page_title %}
	<h1>Créer une nouvelle saison
	</h1>
	<p class="text-muted">{{program.title}}</p>
{% endblock %}

{% block body %}
	{{ include('season/_form.html.twig') }}

	<a href="{{ path('program_show', {slug: app.request.get("programSlug")}) }}" class="btn btn-secondary m-4" role="button">
		Retour
	</a>
{% endblock %}
