{% extends 'base.html.twig' %}

{% block title %}
	{{parent()}}
	-Séries - Editer
{% endblock %}

{% block page_title %}
	<h1>Editer une série
	</h1>
{% endblock %}

{% block body %}
	{{ include('program/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
	{{ include('program/_delete_form.html.twig') }}

	<a href="{{ path('program_show', {slug: program.slug}) }}" class="btn btn-secondary m-4" role="button">
		Retour
	</a>
{% endblock %}
