{% extends 'base.html.twig' %}

{% block title %}
	{{parent()}}
	- Acteur - Création
{% endblock %}

{% block page_title %}
	<h1>Créer un nouvel acteur
	</h1>
{% endblock %}

{% block body %}
	{{ include('actor/_form.html.twig') }}

	<a href="{{ path('actor_index') }}" class="btn btn-secondary m-4" role="button">
		Retour
	</a>
{% endblock %}
