<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<link rel="icon" type="image/png" href="{{ asset('build/wild.png') }}"/>
		<title>
			{% block title %}Wild Series
			{% endblock %}
		</title>

		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}

	</head>
	<body>
		<header>
			{% include "_navbar.html.twig" %}
		</header>
		<div class="container">
			<div class="m-4"> {% block page_title %}{% endblock %}
				</div>
				{% block body %}{% endblock %}
			</div>
			{% block javascripts %}
				{{ encore_entry_script_tags('app') }}
			{% endblock %}
		</body>
	</html>
